%btn-base {
  @include inline-flexbox;
  padding: 0 8px;
  font-weight: 700;
  border-radius: 4px;
  transition: all 200ms ease-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

// Button Styles
.btn-primary {
  @include text-style(14);
  @extend %btn-base;
  color: $white;
  background-color: $blue;

  &:disabled {
    opacity: 0.4;
  }

  &:not(:disabled):hover {
    background-color: $blue-dark;
  }
}

.btn-secondary {
  @include text-style(16);
  @extend %btn-base;
  color: $primary;
  background-color: $border;

  &:not(:disabled):hover {
    background-color: $tertiary;
  }
}

.btn-outlined {
  @include text-style(16);
  @extend %btn-base;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;

  &:not(:disabled):hover {
    background-color: $blue-light;
  }
}

.btn-ghost {
  @include text-style(18);
  @extend %btn-base;
  color: $primary;
  background-color: transparent;

  &:not(:disabled):hover {
    color: $secondary;
  }
}

// Button Sizes
.btn-32 {
  height: 32px;
}

.btn-40 {
  height: 40px;
}

.btn-48 {
  height: 48px;
}

.btn-55 {
  height: 55px;
}
